/*
 * Empty Stylesheet file.
 */
.backgroundMain{
    -fx-background-image: url("../images/f.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}
.character1{
    -fx-background-image: url("../images/steve.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.character2{
    -fx-background-image: url("../images/alex.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.character3{
    -fx-background-image: url("../images/creeper.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.character4{
    -fx-background-image: url("../images/enderman.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.character5{
    -fx-background-image: url("../images/aldeano.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.character6{
    -fx-background-image: url("../images/zombie.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}