/*
 * Empty Stylesheet file.
 */

.backgroundMain{
    -fx-background-image: url("../images/fondo.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}

.logo{
    -fx-background-image: url("../images/logoM.png");
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.98;
}



.Button {
    -fx-background-color: #2E8B57; /* Color de fondo verde */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-font-size: 16px; /* Tamaño de la fuente */
    -fx-background-insets: 0, 0, 2;
    -fx-border-radius: 50%; /* Bordes redondeados */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-font-family: "Yu Gothic"; /* Cambia a la fuente deseada */
}

.Button:hover {
    -fx-background-color: #276C4B; /* Color más oscuro al hacer hover */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-background-insets: 0, 0, 2;
}

.Button2 {
    -fx-background-color: #744E3B; /* Color de fondo específico para Button2 */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-font-size: 12px; /* Tamaño de la fuente específico para Button2 */
    -fx-background-insets: 0, 0, 2;
    -fx-border-radius: 50%; /* Bordes redondeados */
    -fx-font-family: "Yu Gothic"; /* Cambia a la fuente deseada */
}

.Button3 {
    -fx-background-color: transparent; /* Color de fondo específico para Button2 */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-font-size: 17px; /* Tamaño de la fuente específico para Button2 */
    -fx-background-insets: 0, 0, 2;
    -fx-border-radius: 50%; /* Bordes redondeados */
    -fx-font-family: "Yu Gothic"; /* Cambia a la fuente deseada */
}